<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">


<body>
<h2>Add Availability</h2>
<form th:action="@{/availability}"  method="post">


    <!-- Add new availability periods -->
    <label>From Date:</label>
    <label>
        <input type="date" name="fromDate" required />
    </label>

    <label>To Date:</label>
    <label>
        <input type="date" name="toDate" required />
    </label>

    <!-- Button to add a new availability period -->
    <button type="submit" name="addAvailability" value="true">Add Availability</button>

    <br/>

    <div class="mb-3 text-center">
        <a href="/competence">Go back to add competence</a>
    </div>
</form>
</body>

</html>
