<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Availability</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>
<body>
<header th:replace="~{../static/fragments/header :: header}"></header>
<main class="container mt-5">
<h2>Add Availability</h2>
<form th:action="@{/availability}" method="post" onsubmit="return validateDates()">

    <!-- Add new availability periods -->
    <label>From Date:</label>
    <label>
        <input type="date" name="fromDate" id="fromDate" required />
    </label>

    <label>To Date:</label>
    <label>
        <input type="date" name="toDate" id="toDate" required />
    </label>

    <!-- Button to add a new availability period -->
    <button type="submit" name="addAvailability" value="true">Add Availability</button>

    <br/>

</form>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    function validateDates() {
        var fromDate = document.getElementById('fromDate').value;
        var toDate = document.getElementById('toDate').value;

        if (new Date(toDate) < new Date(fromDate)) {
            alert('To Date cannot be earlier than From Date');
            return false;
        }
        alert('Availability added successfully');
        return true;
    }
</script>
</body>
</html>
